/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Slider Styles */
.slider_section {
    position: relative;
    text-align: left; /* Align slider content to the left */
    overflow: hidden;
    height: 100vh; /* Set slider height to full viewport height */
    background: url('../images/childfood.jpeg') no-repeat center center; /* Set image as background */
    background-size: cover; /* Ensure the image covers the entire slider */
}

.text-overlay {
    position: absolute;
    top: 15rem; /* Adjust top position */
    left: 3rem; /* Adjust left position */
    color: #fff;
    z-index: 1;
}

.text-overlay h1 {
    font-size: 24px; /* Adjust font size */
    font-weight: bold;
    margin-bottom: 10px; /* Adjust margin */
    width: 50%; 
}

.text-overlay p {
    font-size: 16px; /* Adjust font size */
    line-height: 1.4; /* Adjust line height */
    margin-bottom: 5px; /* Compact margin */
    width:40%; 
}

.slider-button {
    position: absolute;
    top: 10%; /* Adjust top position */
    right: 10%; /* Adjust right position */
    z-index: 1;
    background-color: #333;
    color: #e5e3e9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 2vw; /* Adjust font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-button:hover {
    background-color: #555555;
}

.kindness-kattle {
    position: absolute;
    top: 20px; /* Adjust top position */
    left: 20px; /* Adjust left position */
    color: #fff;
    font-size: 24px; /* Adjust font size */
    font-weight: bold;
    z-index: 1;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .text-overlay h1 {
        font-size: 20px; /* Adjust font size */
    }

    .text-overlay p {
        font-size: 14px; /* Adjust font size */
    }

    .kindness-kattle {
        font-size: 20px; /* Adjust font size */
    }

    .slider-button {
        font-size: 3vw; /* Adjust font size */
        top: 5%; /* Adjust top position for mobile */
        right: 5%; /* Adjust right position for mobile */
    }
}
