/* Base styles */

/* Container */
.registration-form-container {
    margin: auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Form */
.registration-form {
    display: flex;
    flex-direction: column;
}

/* Title */
.title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* User details */
.user-details {
    margin-bottom: 20px;
}

/* Input box */
.input-box {
    margin-bottom: 15px;
}

/* Details label */
.details {
    display: block;
    margin-bottom: 5px;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Buttons */
.button {
    text-align: center;
}

input[type="submit"],
input[type="button"] {
    background-color: #0ab666;
    color: #fff;
    padding: 10px 0; /* Adjusted padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Button width set to 100% */
    margin-bottom: 10px; /* Added margin bottom for spacing */
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #0ab688;
}

/* Responsive styles */

/* For small screens */
@media screen and (max-width: 600px) {
    .registration-form-container {
        width: 90%;
    }
}

/* For medium screens */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .registration-form-container {
        width: 80%;
    }
}
