/* Profile header styles */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-user-settings {
  margin-bottom: 20px;
}

.profile-user-name {
  font-size: 1.6rem; /* Increase font size */
}

.profile-edit-btn {
  font-size: 1.8rem; /* Increase font size */
  padding: 10px 20px; /* Increase padding */
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.profile-stats ul {
  list-style-type: none;
}

.profile-bio {
  text-align: center;
  margin-top: 20px; /* Add margin to separate from profile image */
  font-size: 1.4rem; /* Adjust font size */
}
